<div class = "row">
    <h2> Patient's List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Id</th>
            <th> Name </th>
            <th> Visited Doctor</th>
            <th> Date Of Visit </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let patient of patients" >
            <td> {{ patient.patient_id }} </td>
            <td> {{ patient.patient_name }} </td>
            <td> {{ patient.patient_visitedDoctor }} </td>
            <td> {{ patient.patient_dateOfVisit | date:'longDate' }} </td>
            <td>
                <button (click) = "updatePatient(patient.patient_id)" class = "btn btn-info"> Upgrade</button>
                <button (click) = "deletePatient(patient.patient_id)" class = "btn btn-danger" style="margin-left: 10px"> Remove</button>
                <button (click) = "patientDetails(patient.patient_id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
<button (click)="logout()" class="btn btn-danger mx-2">Logout</button>
<!-- <p>patient-list works!</p> -->
