.navbar navbar-expand-sm bg-primary navbar-dark{
    color: rgb(168, 167, 76);
    background-color: #1193c7;

}
.text-center{
    color: rgb(30, 50, 68);
    background-color: rgba(55, 119, 111, 0.541);
}
