<h3> View Doctor Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{doctor.doctor_id}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{doctor.doctor_name}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{doctor.doctor_age}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{doctor.doctor_gender}}
    </div>
    <div>
        <label> <b> Specialist Fields: </b></label> {{doctor.doctor_specialistFields}}
    </div>
</div>
<!-- <p>doctor-details works!</p> -->
