<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Doctor </h3>
            <hr />
            <div class="card-body">
                <form ngForm #doctorForm class="form">

                    <div class="form-group">
                        <label> Id</label>
                        <input type="number" class="form-control" id="doctor_id" [(ngModel)]="doctor.doctor_id"
                            name="doctor_id" required>
                    </div>

                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" id="doctor_name" [(ngModel)]="doctor.doctor_name"
                            name="doctor_name" required>
                    </div>

                    <div class="form-group">
                        <label> Age</label>
                        <input type="number" class="form-control" id="doctor_age" [(ngModel)]="doctor.doctor_age"
                            name="doctor_age" required>
                    </div>

                    <div class="form-group">
                        <label> Gender</label>
                        <input type="text" class="form-control" id="doctor_gender" [(ngModel)]="doctor.doctor_gender"
                            name="doctor_gender" required>
                    </div>

                    <div class="form-group">
                        <label> Specialist Fields</label>
                        <input type="text" class="form-control" id="doctor_specialistFields" [(ngModel)]="doctor.doctor_specialistFields"
                            name="doctor_specialistFields" required>
                    </div>

                    <br />
                    <!-- <button mat-stroked-button class="btn btn-success" type="submit" (click)="onSubmit(); doctorForm.reset()>Submit</button> -->
                    <button mat-stroked-button 
                            (click)="onSubmit(); doctorForm.reset()"
                            color="primary"
                            class="btn btn-success" type="submit"> Submit
                    </button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>


