<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Patient </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Id</label>
                        <input type="number" class="form-control" id="patient_id" [(ngModel)]="patient.patient_id"
                            name="patient_id">
                    </div>

                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" id="patient_name" [(ngModel)]="patient.patient_name"
                            name="patient_name">
                    </div>

                    <div class="form-group">
                        <label> Visited Doctor</label>
                        <input type="text" class="form-control" id="patient_visitedDoctor" [(ngModel)]="patient.patient_visitedDoctor"
                            name="patient_visitedDoctor">
                    </div>

                    <div class="form-group">
                        <label> Date Of Visit</label>
                        <input type="date" class="form-control" id="patient_dateOfVisit" [(ngModel)]="patient.patient_dateOfVisit"
                            name="patient_dateOfVisit">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- <p>update-patient works!</p> -->
